{{!-- Sets up the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
  <div class="row">
    <h1>Burgermania!</h1>
    <img src="/assets/img/burger3.png" alt="Kawaii burger">
  </div>

  <div class="row">
    <div class="col-6 column">
      <h2>Burgers I would like:</h2>

      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <li>
          {{this.id}}. {{this.burger_name}}
          {{!-- This button will update the attached burger data to be devoured: true --}}
          <button class="devour-burger btn btn-outline-success btn-sm" data-id="{{this.id}}" data-devoured="{{this.devoured}}">DEVOUR!</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6 column">
      <h2>Burgers that I've devoured:</h2>

      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <li>
          {{this.id}}. {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>

  <div class="row add">
    <h2>Add a Burger</h2>
  
    <form class="create-form">
      <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
      </div>
      {{!-- This button will submit the user input into the database. --}}
      <button class="btn btn-outline-success" type="submit">Add Burger</button>
    </form>
  </div>
</div>
